# Breakfast at the Frat: A Time Series Analysis

Sales and promotion information on the top five products from each of the top three brands within four selected categories (mouthwash, pretzels, frozen pizza, and boxed cereal), gathered from a sample of stores over 156 weeks.

- Unit sales, households, visits, and spend data by product, store, and week
- Base Price and Actual Shelf Price, to determine a productâ€™s discount, if any
- Promotional support details (e.g., sale tag, in-store display), if applicable for the given product/store/week
- Store information, including size and location, as well as a price tier designation (e.g., upscale vs. value)
- Product information, including UPC, size, and description

To identify outliers, it is suggested to look at

- The ratio of units vs. number of visits
- The ratio of visits vs. number of households
- Some items that may be out-of-stock or discontinued for a store

**Source:** https://www.dunnhumby.com/source-files/

In [ ]:
from pyspark.sql import Row, SparkSession

In [ ]:
spark = SparkSession.builder \
    .appName("breakfast") \
    .getOrCreate()

In [ ]:
product_data_folder = "dataset/products"
store_data_folder = "dataset/stores"
transaction_data_folder = "dataset/transactions"

### Perform ETL to Answer the Following Questions

1. What is the range of prices offered on products?
1. What is the impact on units/visit of promotions by geographies?
1. Which products would you lower the price to increase sales?

In [ ]:
product_df = spark \
    .read \
    .option("header", True) \
    .csv(product_data_folder).show(3)

In [ ]:
product_df.show(3)

In [ ]:
store_df = spark \
    .read \
    .option("header", True) \
    .csv(store_data_folder).show(3)

In [ ]:
store_df.show(3)

In [ ]:
transaction_df = spark \
    .read \
    .option("header", True) \
    .csv(transaction_data_folder)

In [ ]:
transaction_df.show(3)

In [ ]:
product_df.createOrReplaceTempView("products")
transaction_df.createOrReplaceTempView("transactions")

In [ ]:
df = spark.sql("""
    select
        products.upc
        , min(price)
        , max(price)
        , description
        , category
        
    from transactions
    join products
    on
        transactions.upc = products.upc
    group by 1, 4, 5
""")

In [ ]:
df.show(3)

In [ ]:
df2 = spark.sql("""
    select
        upc
        , product_size
        , case
            when contains(product_size, 'OZ') then 'yes'
        end as is_oz
    from products
""")

In [ ]:
df2.show(3)